#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.description {
  color: #888888;
}











.results-container {
  margin-top: 1.5rem;
}

.results-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.result-card {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #1f1f1f;
}

.result-card h2 {
  margin: 0 0 0.25rem 0;
  font-size: 1.1rem;
}

.result-card p {
  margin: 0.1rem 0;
  font-size: 0.95rem;
}
